<!DOCTYPE html>
<html lang="en">
<head>
	<title>CloTwi</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet"> <!-- externe Quelle für Icon Symbole -->
</head>
<body>

	<section class="billboard light">
		<header class="wrapper light">
			<nav>
				<ul>
					<li><a href="">&nbsp; </a></li>
				</ul>
			</nav>
		</header>

		<div class="caption light">
			<a href="#"><img class="logo" src="img/clotwi_small.png" alt=""/></a>
			<h1>CloTwi</h1>
			<p>Welcome to my Bluemix Demo!</p>
		</div>
		<div class="shadow"></div>
	</section><!--- End Top -->


	<section class="services wrapper">
		<form action="/formsubmit" method="post" class="basic-grey">
		<ul class="clearfix">
			<li>
				<h2>Name</h2><br />
				<h3><label id="icon" for="name"><i class="icon-user"></i></label><input type="text" name="name" placeholder="Name" required/><br /></h3>
				
			</li>
			<li>
				<h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Telephone number</h2><br />
				<h3><label id="icon" for="name"><i class="icon-mobile-phone"></i></label><input type="text" name="phonenumber" placeholder="Phone" required/></h3>
			</li>
			<li>
				<h2>&nbsp;</h2><br />
				<input type="submit" class="btn" value="Send">
			</li>
		</ul>
		 </form>
	</section><!--  End  Form  -->

	<footer>
		<div class="wrapper">
			<div class="rights"><br /><br /><br /><br />
				<img src="img/clotwi.png" alt="" height="50px" class="footer_logo"/>
				<p>© CloTwi by Annika Melchert</a></p>
			</div>
		</div>		
	</footer><!--  End footer  -->
    <script src='../ga.js'></script>
        </div>
    </body>
</html>