<!DOCTYPE html>
<html lang="en">
<head>
	<title>CloTwi</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet"> <!-- externe Quelle f𲠉con Symbole -->
</head>
<body>

	<section class="billboard light">
		<header class="wrapper light">
			<nav>
				<ul>
					<li><a href="">&nbsp; </a></li>
				</ul>
			</nav>
		</header>

		<div class="caption light">
			<a href="#"><img class="logo" src="img/clotwi_small.png" alt=""/></a>
			<h1>CloTwi</h1>
			<p>Welcome to my Bluemix Demo!</p>
		</div>
		<div class="shadow"></div>
	</section><!--- End Top -->


	<section class="services wrapper" align=center>
		<form action="/formsubmit" method="post" class="basic-grey">
		<ul class="clearfix" align=center>
			<li align=center>
				<h2 align=center >&nbsp;<h2><br />
			</li>
			<li align=center>
				<h2 align=center >You are not authorized to send SMS!<h2><br />
			</li>
		</ul>
		 </form>
	</section><!--  End  Form  -->

	<footer>
		<div class="wrapper">
			<div class="rights"><br /><br /><br /><br />
				<img src="img/clotwi.png" alt="" height="50px" class="footer_logo"/>
				<p>© CloTwi by Annika Melchert</a></p>
			</div>
		</div>		
	</footer><!--  End footer  -->
    <script src='../ga.js'></script>
        </div>
    </body>
</html>